/*GRID Layout of Page*/
.webPage_grid{
    margin: 0;
    font-family: monospace;
    background-color: #F5B666;

    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 20% 80%;

    grid-template-areas:
        'header_grid' 'basket_grid'
        'main_grid' 'main_grid';

    width: 100vw;
    height: 100vh;
}

.main_grid{
    grid-column: 1/-1;

}

.footer_grid{
    grid-column: 1/-1;

}

/*Header*/
.header_grid, .basket_grid{
    background-color: #211498;
    display: grid;
    align-content: center;
}

.header_title_1, .header_title_2{
    color: #F06C4D;

    margin-left: 40px;
}

.header_title_1{
    font-size: 40px;
}

.header_title_2{
    font-size: 22px;
}

/*Main area*/
.main_grid{
    display: grid;
    align-content: center;
}

.main_grid_inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.main_child{
    text-align: center;



    width: 50%;
    height: 110%;
}
.main_child div:not(.main_child_name){
    margin: 5px;
    font-size: 14px;

}

.main_child img{
    margin-top: 20px ;
    width: 200px;
    height: 200px;
}

.main_child_name{
    font-weight: bold;
    font-size: 22px;
    margin: 5px;
}

.main_child_allergy .title, .main_child_ingred .title{
    font-style: normal;
    font-weight: bold;
}
.main_child_allergy{
    font-style: italic;
    font-weight: bold;
}
.main_child button{
    font-size: 16px;
    width: 40%;
    height: 40px;
    color: black;
    font-weight: bold;
    border-color: #F06C4D;
    border-style: solid;
    background-color: #EB8807;

}

.main_child button:hover{
    background-color: #F06C4D;

}
/*Footer area*/

/*Footer*/
footer{
    background-color: #711DA2;
    color: #C62591;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer a{
    color: #C62591;
}


@media only screen and (max-width: 1000px) {
    .webPage_grid{
        grid-template-columns: 7fr 3fr;
        grid-template-rows: 10% 90%;
        grid-template-areas:
        'header_grid' 'basket_grid'
        'main_grid' 'main_grid';

        width: 100vw;
        height: 100vh;
    }
    .header_title_1{
        font-size: 60px;
    }

    .header_title_2{
        font-size: 33px;
    }

    .main_grid_inner{
        grid-template-columns: 1fr;
        height: 115%;
    }

    .main_child{
        width: 100%;
    }

    .main_child img{
        width: 400px;
        height: 400px;
    }
    .main_child div:not(.main_child_name){
        font-size: 31px;

    }

    .main_child_name{
        font-size: 44px;
    }

    .main_child button{
        font-size: 32px;
        width: 40%;
        height: 80px;
    }

    footer{
        font-size: 31px;
    }
}